# useDynLib(timepoint, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(lubridate)
import(graphics)
import(stats)
importFrom(cubature, adaptIntegrate)
exportPattern("^[[:alpha:]]+")
S3method(length, eventlist)
S3method(summary, eventlist)